<div
	class="modal fade"
	id="modalComponent"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="modalComponentTitle"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="modalComponentTitle"></h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
					id="modalComponentDismiss"></button>
			</div>
			<div class="modal-body" id="modalComponentBody"></div>
			<div class="modal-footer" id="modalComponentFooter">
				<button
					type="button"
					class="btn btn-secondary"
					data-bs-dismiss="modal"
					id="modalComponentClose"></button>
				<button
					type="button"
					class="btn btn-primary"
					id="modalComponentSubmit"></button>
			</div>
		</div>
	</div>
</div>
