<script defer src="/js/navbar.js"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img
				src="/assets/rflx-logo.png"
				alt="RFLX logo"
				id="rflx-logo"
				class="d-inline-block align-text-top"
				width="24" />
			<b> RFLX </b>
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link d-none" id="loginButton" href="/login"> Login </a>
				</li>
				<li class="nav-item">
					<a class="nav-link d-none" id="logoutButton" href="/scripts/logout">
						Logout
					</a>
				</li>
			</ul>
			<div class="d-flex" role="search">
				<input
					id="navbar-search"
					class="form-control me-2"
					type="search"
					placeholder="Search"
					aria-label="Search" />
			</div>
		</div>
	</div>
</nav>
