/* Login page composition */
.h-custom {
	height: 100dvh;
}

/* Icon spinning */
.icon_size {
	width: 240px;
	min-width: 120px;
}

.icon_spin {
	animation: rotate 3.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 750px) {
	.icon_size {
		width: 120px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -100px;
		margin-top: -20%;
	}

	.form_size {
		margin-top: -200px;
	}
}
