<link rel="stylesheet" href="/css/home.css" />

<h1>Welcome to the Home Page</h1>

<br />

<div id="dati-utente"></div>

<hr />

<form action="/api/v1/photos" method="post" enctype="multipart/form-data" id="photo-uploader">
	<input type="file" name="photo" accept=".jpg,.jpeg,.png" />
	<button type="submit">Upload</button>
</form>

<hr />

<section class="feed" id="photo-feed">
</section>
