<link rel="stylesheet" href="/css/upload-post.css" />
<link rel="stylesheet" href="/css/photo-feed.css" />
<link rel="stylesheet" href="/css/post.css" />

<section class="feed" id="photo-feed"></section>

<div id="scroll-sentinel" aria-hidden="true"></div>

<button
	id="upload-post-btn-start"
	class="position-absolute end-0 bottom-0 btn btn-lg btn-light p-4 m-4"
	data-bs-toggle="modal"
	data-bs-target="#uploadPostModal">
	<img src="/assets/plus-solid.svg" alt="plus-symbol" width="32" height="32" />
</button>

<div
	class="modal fade"
	id="uploadPostModal"
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="uploadPostModalTitle"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="uploadPostModalTitle"></h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
					id="uploadPostModalDismiss"></button>
			</div>
			<div class="modal-body" id="uploadPostModalBody">
				<form id="uploadPostForm" class="container">
					<div class="upload-post_preview row m-2">
						<img class="upload-post_img d-none" alt="Photo preview" />
						<span class="upload-post_placeholder"> Select image </span>
						<input
							type="file"
							name="photo"
							class="upload-post_input"
							accept="image/*"
							required
							placeholder="Upload an image" />
					</div>
					<textarea
						class="upload-post_description"
						name="description"
						rows="4"
						placeholder="Write a description..."></textarea>
				</form>
			</div>
			<div class="modal-footer" id="uploadPostModalFooter">
				<button
					type="button"
					class="btn btn-secondary"
					id="uploadPostModalReset">
					Reset
				</button>
				<button
					type="button"
					class="btn btn-primary"
					id="uploadPostModalSubmit"></button>
			</div>
		</div>
	</div>
</div>

<div
	class="modal fade bd-example-modal-lg"
	id="ViewPostModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="ViewPostModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header d-flex justify-content-between">
				<h5 class="modal-title" id="ViewPostModalLabel"></h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					data-bs-target="#ViewPostModal"
					aria-label="Close"
					id="ViewPostModalDismiss"></button>
			</div>
			<div class="modal-body row">
				<div class="col-sm-7" id="ViewPostModalImage"></div>
				<div class="col-sm-5">
					<b class="p-2">Descrizione</b>
					<p id="ViewPostModalDescription"></p>
				</div>
				<hr class="mt-4" />
				<form class="d-flex" role="text" id="ViewPostModalCommentForm">
					<input
					class="form-control me-2"
					type="text"
					placeholder="Write comment here"
					id="ViewPostModalComment"
					name="comment" />
				</form>
				<hr class="mt-4" />
				<b class="p-2">Commenti</b>
				<div id="ViewPostModalComments"></div>
			</div>
		</div>
	</div>
</div>
