<h1>Welcome to the Home Page</h1>

<section>
	<p>Use the navigation links above to switch pages without reloading.</p>
</section>

<a href="/login" data-link>Login</a>
<a href="/sadsad" data-link>NotFound</a>
