<link rel="stylesheet" href="/css/home.css" />

<div id="dati-utente"></div>

<hr />

<section class="feed" id="photo-feed"></section>

<div id="scroll-sentinel" aria-hidden="true"></div>

<div class="position-sticky bottom-0 end-0 p-4">
	<button
		class="position-absolute end-0 bottom-0 btn btn-lg btn-light p-4 m-4 upload-post-btn-start"
		data-bs-toggle="modal"
		data-bs-target="#uploadFormModal"
		id="upload-post-btn-start">
		<img
			src="/assets/plus-solid.svg"
			alt="plus-symbol"
			width="32"
			height="32" />
	</button>
</div>

<div
	class="modal fade"
	id="uploadFeedback"
	tabindex="-1"
	aria-labelledby="uploadFeedbackLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button
					id="uploadFeedbackDismiss"
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body" id="uploadFeedbackLabel"></div>
		</div>
	</div>
</div>

<div
	class="modal fade"
	id="uploadFormModal"
	tabindex="-1"
	aria-labelledby="uploadFormModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button
					id="uploadFormModalDismiss"
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<form
				class="photo-uploader"
				method="post"
				enctype="multipart/form-data"
				id="photo-uploader">
				<div class="container">
					<!-- Row 1: Image -->
					<div class="photo-uploader__preview row m-2">
						<img
							id="photo-preview"
							class="photo-uploader__img hidden"
							alt="Photo preview" />

						<span class="photo-uploader__placeholder"> Select image </span>

						<input
							type="file"
							name="photo"
							id="photo-input"
							accept="image/*"
							required />
					</div>

					<!-- Row 2: Description -->
					<div class="photo-uploader__description row m-2">
						<textarea
							name="description"
							rows="4"
							placeholder="Write a description..."></textarea>
					</div>

					<!-- Row 3: Publish -->
					<div class="row m-2">
						<button type="submit" class="btn btn-primary">Publish</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div
	class="modal fade bd-example-modal-lg"
	id="PostModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="PostModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header d-flex justify-content-between">
				<h5 class="modal-title" id="PostModalLabel">User profile here</h5>
				<button
					aria-label="Close"
					data-dismiss="modal"
					data-bs-target="#PostModal"
					id="PostModalDismiss"
					style="border: none; background: transparent">
					<img
						src="/assets/times-solid.svg"
						alt="times-symbol"
						width="16"
						height="16" />
				</button>
			</div>
			<div class="modal-body row">
				<div class="col-sm-7" id="PostModalImage"></div>
				<div class="col-sm-5">
					<div class="p-2"><p>Descrizione dell'immagine</p></div>
				</div>
			</div>
		</div>
	</div>
</div>
