<link rel="stylesheet" href="/css/login.css" />

<form>
	<div>
		<label for="email">Enter your email: </label>
		<input type="email" name="email" id="loginEmail" required />
	</div>
	<div>
		<label for="password">Enter your password: </label>
		<input type="password" name="password" id="loginPassword" required />
	</div>
	<button type="button" id="loginSubmit">Subscribe!</button>
</form>

<h1 id="loginFeedback"></h1>
