<link rel="stylesheet" href="css/auth.css" />

<section class="vh-100">
	<div class="container-fluid h-custom">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-6 col-xl-5">
				<img
					src="/assets/rflx-logo.png"
					alt="RFLX logo"
					class="rounded mx-auto d-block"
					id="rflx-logo" />
			</div>
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
				<form id="registerForm">
					<div data-mdb-input-init class="form-outline mb-4 mt-2">
						<input
							type="text"
							id="registerNickname"
							class="form-control form-control-lg"
							placeholder="Enter a valid name"
							name="nickname"
							required />
						<label class="form-label" for="registerNickname">Nickname</label>
					</div>

					<div data-mdb-input-init class="form-outline mb-4">
						<input
							type="email"
							id="registerEmail"
							class="form-control form-control-lg"
							placeholder="Enter a valid email address"
							name="email"
							required />
						<label class="form-label" for="registerEmail">Email address</label>
					</div>

					<div data-mdb-input-init class="form-outline mb-3">
						<input
							type="password"
							id="registerPassword"
							class="form-control form-control-lg"
							placeholder="Enter password"
							required
							name="password"
							minlength="8" />
						<label class="form-label" for="registerPassword">Password</label>
					</div>

					<div data-mdb-input-init class="form-outline mb-3">
						<input
							type="password"
							id="confirmPassword"
							class="form-control form-control-lg"
							placeholder="Enter password"
							required
							minlength="8"
							name="confirmPassword" />
						<label class="form-label" for="confirmPassword">
							Confirm password
						</label>
					</div>

					<div data-mdb-input-init class="form-outline mb-3">
						<select
							class="form-select"
							id="registerRole"
							placeholder="Select role"
							name="role"
							required>
							<option selected>Choose...</option>
							<option value="base">Base</option>
							<option value="photographer">Photographer</option>
						</select>
						<label class="form-label" for="registerRole"> Role </label>
					</div>

					<div class="text-center text-lg-start mt-4 pt-2">
						<button
							id="registerSubmit"
							type="button"
							data-mdb-button-init
							data-mdb-ripple-init
							class="btn btn-primary btn-lg"
							style="padding-left: 2.5rem; padding-right: 2.5rem">
							Register
						</button>
						<p class="small fw-bold mt-2 pt-1 mb-0">
							Do you have an account?
							<a href="/login" class="link-info">Login</a>
						</p>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
