<h1>Welcome to the Home Page</h1>

<p>This content is rendered on the client side using EJS.</p>

<section>
	<p>Use the navigation links above to switch pages without reloading.</p>
</section>

<a href="/login" data-link>Login</a>
<a href="/qwe" data-link>NotFound</a>
